* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #000;
  overflow: hidden;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar .nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .navbar .nav-links ul {
  display: inline;
}

header .navbar .nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

header .navbar .nav-links ul li {
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

header .navbar .nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #aa076b;
  display: block;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar .nav-links ul li:hover::after {
  width: 100%;
}

header .hero {
  position: relative;
  height: 80vh;
  width: 100%;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: black;
}

header .hero h1 {
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
  width: 100%;
  text-align: center;
  background: black;
  text-transform: uppercase;
  font-size: 6rem;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  font-weight: 200;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white, 0 0 160px white;
}

header .hero h2 {
  font-weight: 10;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5), 0 0 4px rgba(255, 255, 255, 0.5), 0 0 8px rgba(255, 255, 255, 0.5), 0 0 16px rgba(255, 255, 255, 0.5);
}

header .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00adff;
  z-index: 1;
  mix-blend-mode: color;
  -webkit-animation: glow 10s linear infinite;
          animation: glow 10s linear infinite;
}

@-webkit-keyframes glow {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes glow {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
}

footer ul a {
  color: white;
}

footer ul li {
  position: relative;
  display: block;
  color: #fff;
  font-size: 20px;
  height: 60px;
  width: 60px;
  background: #000;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer ul li::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer ul li:hover::before {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer ul li:nth-child(1):hover {
  -webkit-box-shadow: 0 0 15px #4267b2;
          box-shadow: 0 0 15px #4267b2;
  text-shadow: 0 0 15px #4267b2;
}

footer ul li:nth-child(1):hover a {
  color: #456cba;
}

footer ul li:nth-child(2):hover {
  -webkit-box-shadow: 0 0 15px #1da1f2;
          box-shadow: 0 0 15px #1da1f2;
  text-shadow: 0 0 15px #1da1f2;
}

footer ul li:nth-child(2):hover a {
  color: #26a4f2;
}

footer ul li:nth-child(3):hover {
  -webkit-box-shadow: 0 0 15px #e1306c;
          box-shadow: 0 0 15px #e1306c;
  text-shadow: 0 0 15px #e1306c;
}

footer ul li:nth-child(3):hover a {
  color: #e23670;
}

footer ul li:nth-child(4):hover {
  -webkit-box-shadow: 0 0 15px #2867b2;
          box-shadow: 0 0 15px #2867b2;
  text-shadow: 0 0 15px #2867b2;
}

footer ul li:nth-child(4):hover a {
  color: #2a6cbb;
}

footer ul li:nth-child(5):hover {
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
  text-shadow: 0 0 15px #fff;
}

footer ul li:nth-child(5):hover a {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */